:root {
    --ff-main: 'Lato', sans-serif;
    --ff-handwritten: 'Pacifico', cursive;
    --ff-bold: 'Bebas Neue', cursive;
}

body {
    font-family: var(--ff-main);
}

header {
    background-color: rgb(62, 78, 78);
    height: min-content;
}

header nav {
    display: flex;
    justify-content: space-around;
}

.nav-left {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.nav-left h2 {
    font-family: var(--ff-handwritten);
}

.nav-left span {
    font-family: var(--ff-bold);
}

.nav-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-links {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.nav-links a {
    text-decoration: none;
}